// CONTACT PAGE
// CONTACT HEADER
.contactHeader{
    background-color:$white;


        .contactNavBar {
        display:flex;
        justify-content:space-between;

        #openMenu, .menuButton{
            display:none;
        }
    }
}

// CONTACT MAIN
.contactMain{
    padding:10px;
    background-image:url('../../../assets/contact-1.jpeg');
    background-size:cover;
    background-position:center;
    height:20vh;

    h2{
        font-size:3rem;
        font-weight:bolder;
        position:relative;
        top:25px;
        line-height: 4rem;

        &::before{
            position: absolute;
            content:("");
            width:25px;
            height:3px;
            background-color:$black;
            top:-30px;
        }
    }
    span{
        display:block;
    }
}

.contactForm{
    padding-top:100px;

    h3{
        font-weight:bold;
        letter-spacing:0.1rem;
    }

    .contactLinks {
        display:flex;
        justify-content:space-around;
        li{
            margin:3px;

            i{
                font-size:2rem;
            }

            a{
                text-decoration:none;

            }
        }
        
        .addressDetails{
            border-left:2px rgba($color:$black, $alpha:0.2) solid;
            border-right:2px rgba($color:$black, $alpha:0.2) solid;
        }
        ul{
            display:flex;
            white-space:nowrap;
            flex-direction:column;
            list-style:none;
            flex-basis:calc((100%/3) - 100px);
            margin:50px 0;
            padding:60px;
        }

        h5{
            margin-bottom:0;
            color:$black;
            font-weight:bold;
        }

        p, a{
            margin:0;
            padding:0;
            transition:color 0.3s;

            
        }

        a{
            &:hover, &:focus{
                color:$black;
            }
        }

    }
}


.bottomSection{
    background-image:url('../../../assets/contact-2.jpeg');
    background-size:cover;
    background-position:top;
    height:70vh;
}