@media (max-width:1000px){

    // ABOUT SECTION
    .aboutSection .wrapper{
        
        .aboutImageContainer{
            .brandingImage{
                width:100%;
            }
            .circleContainer{
                left:0;
                top:0;
            }
        }

    }

    // GALLERY SECTION
    .gallerySection .wrapper .galleryImageContainer img {
        width:60%;
    }

    // SERVICES SECTION

    .serviceSection{
        .wrapper{
            flex-basis:80%;
            margin:0 auto;
        }
    }

    // TEAM SECTION

    .teamSection {
        padding:10px;
        .wrapper{
            padding:0;
            margin:10px;
            width:calc(100% - 20px);
            h2{
                padding-top:100px;
            }
            ul{
                // flex-direction:column;
                padding:20px 0;
            }
        }
    }

    // DROP SECTION

    .dropSection{
        .wrapper{
            .dropTextContainer{
                flex-basis:80%;
            }
        }
    }
    // BLOG SECTION

    
    // BLOG PAGE
    // BLOG TITLE
    .blogSection .wrapper{

        .blogAuthor{

            .blogDate {
                width:70%;
    
                ul{

                    
                    li{
                        width:calc(100%/3);
                    }
                }
            }
        }
        

    }
    // FOOTER

    .homeFooter{
        padding:0;
        .contactLink{
            padding:0;
            width:100%;

            .contactCol, .recentCol, .twitterCol{
                padding:0;
                margin:20px;
            }
        }
    }

    // CONTACT PAGE

    .contactForm{
        padding-top:50px;

        h3{
        font-weight:bold;
        letter-spacing:0.1rem;
        }

        .contactLinks {
            display:flex;
            justify-content:space-around;
            li{
                margin:3px;

                i{
                    font-size:1rem;
                }

                a{
                    text-decoration:none;

                }
            }
        
            ul{
                margin:50px 0;
                padding:20px;
                // flex-basis:calc((100%/3) - 100px);
            }

            h5{
                margin-bottom:0;
                color:$black;
                font-weight:bold;
            }

            p, a{
                margin:0;
                padding:0;
                transition:color 0.3s;

                &:hover, &:focus{
                    color:$black;
                }
            }

        }
    }

}

@media (max-width:768px){
    // SLIDE OUT NAV
    .homeHeader .headerNavBar, .blogHeader .blogNavBar, .contactHeader .contactNavBar{
        display:flex;
        justify-content:center;
        align-items:center;

        #openMenu {
            opacity:0;
            position: absolute;
            font-size:1.5rem;
            // display:block;
            transition:0.3s;
    
            &:checked ~ .slideOutNav{
                visibility:visible;
                left:0px;
            }

        }

        .menuButton{
            margin-top:20px;
            cursor:pointer;
            font-size:1.5rem;
            display:block;
            transition:0.3s;
            color:$black;

            &:hover,&:focus{
                color:rgba($color:$black,$alpha:0.8);
            }
        }

        .closeMenu{
            
            margin-top:20px;
            color:$white;
            display:flex;
            justify-content:flex-end;
            cursor:pointer;
            transition:0.3s;
            z-index:10;
            left:-1000px;

            &:hover, &:focus{
                margin-left:10px;
                color:rgba($color:$lightSage, $alpha:0.5);
            }       
        }
        .slideOutNav{

            #closeMenu{
                opacity:0;
                position: absolute;
                &:checked ~ .slideOutNav{
                    left:-1000px;
                }
            }

            .slideMenu{
                margin-top:50px;

                li{
                    margin:20px 0;
                }
                a{
                    font-size:1rem;
                    transition: 0.3s;
                }

            }
    
            ul{
                list-style:none;
                margin:0;
    
                li{
                    a{
                        text-decoration:none;
                        color:$white;
                        transition: 10s;
    
                        &:hover, &:focus{
                            margin-left:10px;
                            color:rgba($color:$lightSage, $alpha:0.5);
                        }
                    }
                }
            }
        }
    }



    // HEADER SECTION
    header {

        .wrapper{

            nav{
                align-items:center;

                h1{
                   margin:0 auto;
                   margin-top:20px;
                }
                .leftNav, .rightNav{
                    display:none;
                }
            }

        }
    }

    // ABOUT SECTION
    .aboutSection{
        .wrapper{
            padding:50px;
            .aboutImageContainer{
                .brandingImage{
                    width:100%;
                }
                .circleContainer{
                    left:10px;
                    top:10px;
                }
            }
            .aboutTextContainer{
                .brandContainer, .designContainer{
                    width:45%;
                }
            }
        }
    }



    // GALLERY SECTION
    .gallerySection .wrapper{
        padding:20px;

        .galleryImageContainer{
            img{
                width:40%;
            }
        }

    }
    // MEET OUR TEAM SECTION

    .teamSection {
        .wrapper{

            ul{
                li{
                    &:first-child{
                        padding:10px;

                        h3{
                            margin:10;
                        }
                    }
                }
            }
        }
    }

    //BLOG PAGE
    // BLOG SECTION
    .blogSection .wrapper {
        .blogAuthor{
            flex-direction:column;

            .blogDate{
                width:100%;
                justify-content:space-between;
  
                ul{
                    margin:0;
                    padding:0;
                }
            }

        }
    }



    // FOOTER

    footer .contactLink nav{
        flex-direction:column;
        align-items:flex-start;
        margin:0 50px;

        .contactCol, .twitterCol, .recentCol{
            text-align:left;

        }
        .recentCol{
            justify-content:flex-start;
            h4{
                text-align:left;
            }
        }
        .twitterCol{
            li{
                &:nth-child(3){
                    justify-content:flex-start;
                }
            }

        }
    }

    // CONTACT SECTION

    .contactForm{
        .contactLinks{
            ul{
                white-space:normal;
            }
        }
    }

    .bottomSection{
        height:40vh;
    }


}

@media (max-width:600px){

// SLIDE OUT NAV

.slideOutNav{
    width:70%;
}
    // ABOUT SECTION
    .aboutSection{
        .wrapper{
            padding:40px;
            .aboutImageContainer{
                padding:0;
                .circleContainer{
                    left:-20px;
                    top:-20px;
                }
            }
            .aboutTextContainer{
                flex-direction:column;
                .brandContainer,.designContainer{
                    margin:0;
                    width:100%;
                }
            }
        }
    }

    // GALLERY SECTION

    .gallerySection{
        .wrapper{
            .galleryImageContainer{
                height:50%;
                img{
                    width:70%;
                }
            }
            .galleryTextContainer{
                padding:0;
                height:50%;
            }
        }
    }
    // SERVICES SECTION 
    .serviceSection{
        .wrapper{
            margin:0 auto;
            ul{

                height:100%;
                flex-wrap:nowrap;
                flex-direction:column;
                justify-content:center;

                .serviceList{
                    width:100%;

                    i{
                        font-size:0.7rem;
                        width:30px;
                        height:30px;
                    }
                    .serviceTextContainer{
                        margin:0;
                    }
                }
                
            }

        }
    }

    // TEAM SECTION

    .teamSection {
        
        .wrapper{
            ul{
                width:100%;


                li{
                    width:50%;
                    margin:10px 0;
                    padding:5px;
                    
                    &:first-child{
                        width:100%;
                        margin:0;
                        padding:20px;
                    }
                    &:last-child{
                        h3{
                            margin:auto;
                        }

                        padding:0 20px;
                        width:50%;
                    }
                }
            }

        }
    }

    // DROP US A LINE 
    .dropSection{
        .wrapper{
            .dropTextContainer{
                flex-basis:100%;
            }
            .dropImageContainer{
                flex-basis:0%;
            }
        }

    }


    // FOOTER{

    .twitterCol{
        li{
             &:nth-child(3){
                flex-direction:column;
            }
    
            button{
                width:100%;
            }
        }
    
    }

    // FORM FOR BLOG AND CONTACT
    .leaveComment form{
        fieldset {
            flex-direction:column;
            width:100%;
            .email{
                margin:0px;
            }
        }
    } 

    //BLOG PAGE
    // BLOG SECTION
    .blogSection .wrapper {
        width:90%;

        .blogAuthor{
            flex-direction:column;

            .blogDate{
                justify-content:space-between;
  
                ul{
                    display:flex;
                    flex-direction:column;
                    margin:0;
                    padding:0;

                    li{
                        width:100%;
                    }
                }
            }

        }
    }
    

    // CONTACT PAGE
    .contactForm{
        
        .contactLinks{
            flex-direction:column;

            .addressDetails{
                border:none;
            }
            ul{
                margin:0;
            }
            li{
                border:none;
            }
        }
    }

    // CONTACT FORM


    .bottomSection{
        height:20vh;
    }
    
}

@media (max-width:400px){
    // BLOG PAGE
    .blogSection .wrapper{
        .blogTitle h2{
            font-size:2.5rem;
            hyphens:auto;
            width:50%;
        }
    }

    // CONTACT PAGE

    .contactMain {
        padding:1px;
        .wrapper{

            h2{
                font-size:2.5rem;
            }
            width:80%;
            // margin:0;
        }
    }

}

@media (max-width:320px){
    .blogSection .wrapper{
        .blogTitle{

            ul{
                li{
                    margin:0;
                }
            }
    
        }
    }


}

