

// BRANDING DESIGN & DEVELOP
.aboutSection {
    background-color:$lightSage;
    .wrapper{
        padding:100px;
        // border:2px red solid;

        .aboutImageContainer{
            display:flex;
            flex-direction:column;
            padding:50px;
            // border:2px orange solid;
            align-items:center;
            position:relative;

            .circleContainer{
                position:absolute;
                display:flex;
                justify-content:center;
                top:-13%;
                left:18%;
                width:20%;
                // border:2px red solid;

                img{
                    width:50%;
                }
            }

            .brandingImage{
                width:50%;
                // border:2px blue solid;

                img{
                    width:100%;
                }
            }
        }

         .aboutTextContainer{
            // border:2px yellow solid;
            display:flex;
            .brandContainer, .designContainer{
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
                // border:2px blue solid;
                text-align:center;
                width:35%;
                margin:0 auto;
            }
         }
    }
}

// GALLERY
.gallerySection{
    .wrapper{
        padding:100px;
        display:flex;
        flex-direction:column;
    
        .galleryImageContainer{
            padding:20px;
            display:flex;
            justify-content:space-between;
            align-items:center;
    
            img{
                width:30%;
                border-radius:50%;
            }

            button {
                background:$white;

                i{
                    color:$black;
                    font-size:2rem;
                    transition:0.3s;

                    &:hover, &:focus{
                        color:$lightSage;
                    }

                }

            }
        }
    
        .galleryTextContainer{
            padding:20px;
            margin: 0 auto;
            text-align:center;
            p{
                color:rgba($color:$black, $alpha:0.7);
                font-style: italic;
            }

        }
    }
} 

// SERVICE

.serviceSection{
    display:flex;
    background-image:url('../assets/home-4.jpeg');
    background-position:center;
    background-size:cover;
    height:100vh;

    .wrapper{
        margin-right:0;
        display:flex;
        flex-basis:50%;
        ul{
            list-style:none;
            display:flex;
            flex-direction:row;
            padding:0;
            height:max-content;
            align-content:center;
            flex-wrap:wrap;
            margin:auto 0;

            .serviceList{
                display:flex;
                flex-direction:row;
                width:50%;

                .iconContainer{
                    display:flex;
                    align-items:center;
                    padding:10px;
                }

                .serviceTextContainer{
                    display:flex;
                    flex-direction:column;
                    padding:0 10px;
                    word-wrap: break-word;

                    h3{
                        margin:10px;
                    }

                    p{
                        margin:0;
                        color:rgba($color:$black, $alpha:0.6);
                    }
                }
            }
        }
    }
}

// MEET OUR TEAM

.teamSection {
    position:relative;
    &::after{
        content:("");
        width:1px;
        height:50px;
        position:absolute;
        top:0;
        left:50%;
        background-color:rgba($color:$black, $alpha:0.6);
    }
    .wrapper{
        padding:80px 0;
        text-align:center;

        ul{
            padding-top:30px;
            margin:0;
            display:flex;
            list-style:none;
            flex-wrap:wrap;

            li{
                width:calc((100% / 4) - 20px);
                margin:10px;

                &:first-child{
                    display:flex;
                    flex-direction:column;
                    text-align:left;
                    align-content:center;
                    justify-content:flex-end;
                    background-color:$whiteTwo;
                    flex-grow:2;
                    width:calc((100% / 3) - 20px);

                    padding:30px;

                    p{
                        margin:0;
                    }
                }  

                &:last-child{
                    display:flex;
                    align-items:center;
                    width:calc((100% / 4) - 20px);

                    padding:20px;
                    background-color:$whiteTwo;
                }
            }
        }
    }

}



// DROP US A LINE
.dropSection {  

    .wrapper{
        display:flex;
        flex-direction:row;
        max-width:100vw;
        width:100%;
    
        .dropTextContainer{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            flex-basis:50%;
            background-color:$lightSage;  

            .innerTextContainer{

                text-align:center;
                width:60%;
                p{
                    color:rgba($color:$black, $alpha:0.6);
                }
            }
        }
    
        .dropImageContainer{
            height:100vh;   
            background-image:url('../../../assets/home-10.jpeg');
            flex-basis:50%;
            background-size:cover;
            background-position:center; 
        }

        .button{
            transition:0.3s;
            &:hover, &:focus{
                background-color:rgba($color:$black, $alpha:0.4);
                color:$white;
                border:2px $black solid;
            }
        }
    }
}

// BLOG SECTION START

.blogSection .wrapper{

    .blogTitle{
        display:flex;
        flex-direction:column;

        h2{
            font-size:3rem;
            font-weight:bolder;
            margin-top:100px;
            margin-bottom:20px;
            line-height:2.2rem;
        }

        ul{
            display:flex;
            justify-content:flex-start;
            list-style:none;
            padding:0;
            margin:0;
            font-family:$bodyFont;

            li{
                margin-left:5px;
            }

            a{
                text-decoration:none;
                color:rgba($color:$black, $alpha:0.6);
                transition:0.3s;

                &:hover,&focus{
                    color:rgba($color:$lightSage, $alpha:0.9);
                }

            }

        }
    }
    .blogAuthor{
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom:1px rgba($color:$black, $alpha:0.3) solid;

        .authorProfile{
            ul{
                display:flex;
                align-items:center;
                list-style:none;
                padding:0;

                li{
                    margin-right:30px;
                    h3,p{
                        margin:0;
                    }
                }

                img{
                    border-radius:50%;
                }
            }
        }

        .blogDate{
            width:50%;
            h3,p{
                margin:0;
            }
            ul{
                padding:0;
                margin:0 30px;
                display:flex;
                justify-content:space-between;
                list-style:none;
            }
        }
        
    }
    .blogTextContainer{
        padding:40px 0;
        .strongParagraph{
            font-weight:bold;
            color:$black;
        }
        .blogSocialLinks{
            display:flex;
            align-items:center;
            ul{
                display:flex;
                list-style:none;
                padding:0;

                li{
                    margin:0 20px;

                    a {
                        color:$black;
                        transition: 0.3s;

                        &:hover, &:focus{
                            color:rgba($color:$black, $alpha:0.6);
                        }
                    }
                }

            }

        }
    }
}
// BLOG SECTION END

// RELATED POSTS START

.relatedPosts{
    .wrapper{
        .relatedGallery{

            ul{
                display:flex;
                list-style:none;
                padding:0;
                justify-content:space-between;
                align-items:center;
                
                li{
                    width:calc((100% / 3) - 20px);
                }
    
                a{
                    text-decoration:none;
                    font-weight:bolder;



                    img{
                        transition:transform 0.3s;
            &:hover, &:focus        {
                            transform:scale(0.9);
                        }
                    }
                }
            }
    
        }
    
    }
    
}

// RELATED POSTS END

// COMMENT SECTION START

.commentSection{

    .commentPosts{
        ul{
            display:flex;
            flex-direction:column;
            padding:0;


            li{
                display:flex;
                padding:20px 0;
            }

            .commentText{
                background-color:$whiteTwo;
                width:calc(100% - 40px);
                margin-left:40px;
                padding:0 20px 20px 20px;
                position:relative;

                &::before{
                    content:("");
                    position:absolute;
                    width:20px;
                    height:20px;
                    left:-5px;
                    background-color:$whiteTwo;
                    transform:rotate(30deg) skew(-45deg);
                    z-index:100;
                }
            }

            .responseType{
                font-style:italic;
                text-transform:initial;
                color:forestgreen;
            }
        }
    }
}

// COMMENT SECTION END

// LEAVE A COMMENT START
.leaveComment {

    padding:20px 0 100px 0;

    form {
        border:2px red solid;
        width:100%;
        fieldset{
            display:flex;
            justify-content:space-between;
            flex-wrap:wrap;
            border:none;
            padding:40px 0;

            .email{
                margin:0 20px;
            }
    
            input{
                display:flex;
                flex-grow:1;
                flex-basis:calc((100%/3) - 20px);
    
            }
    
            textarea{
                height:200px;
                flex-grow:3;
                flex-basis:100%;
                resize:none;
                margin:40px 0;
            }

            input, textarea{
                &:hover, &:focus{
                    color:rgba($color:$black, $alpha:1);
                    border-bottom:1px $black solid;
                }
            }
    
            input, textarea, button{
                font-family:$bodyFont;
                color:$black;
                font-size:0.7rem;
                border:none;
                border-bottom:1px rgba($color:$black, $alpha:0.3) solid;
                padding:10px 0;
                outline:none;
                

            }
    
            button {
                font-family:$headerFont;
                border-bottom:1px rgba($color:$black, $alpha:1) solid;
                &:hover, &:focus{
                    color:rgba($color:$black, $alpha:0.7);
                    border-bottom:1px rgba($color:$black, $alpha:0.7) solid;
                }
    
            }
        }
        

    }
}

// CONTACT PAGE

.bottomSection{
    background-image:url('../../../assets/contact-2.jpeg');
    background-size:cover;
    background-position:top;
    height:70vh;
}